@import "src/styles.scss";

.mat-toolbar {
   background-color: $white;
   position        : fixed;
   top             : 0;
   left            : 0;
   z-index         : 5;
   height          : 64px;
   box-shadow      : 0px 10px 40px -10px $silver;


   li {
      list-style     : none;
      text-decoration: none;
      display        : inline;
      padding        : 12px;
   }

   a {
      text-decoration: none;
   }

   .toolbar-link:hover {
      background-color: $netsfere_red;

      a {
         color: white;
      }
   }

   .login-link {
      color: $netsfere_red;
   }

   .signup-button {
      background-color: $netsfere_red;
      color           : white;
   }

   .logo-topline {
      color      : $netsfere_red;
      margin     : 5px;
      padding    : 0;
      text-align : left;
      font-size  : 28px;
      font-weight: bold;
   }

   .userNameSpan {
      font-size: 14px;
      color    : black;
   }

}