@import "src/styles/themes";

// Theming variables
$theme     : $dark_theme;
$primary   : map-get($theme, primary);
$accent    : map-get($theme, accent);
$foreground: map-get($theme, foreground);

.mat-toolbar {
   background-color: #fff;
   position        : fixed;
   top             : 0;
   left            : 0;
   z-index         : 5;
   height          : 50px;
   box-shadow      : 0px 10px 40px -10px #dedede;


   li {
      list-style     : none;
      text-decoration: none;
      display        : inline;
      padding        : 12px;
   }

   a {
      text-decoration: none;
   }

   .toolbar-link:hover {
      background-color: mat-color($accent);

      a {
         color: white;
      }
   }

   .login-link {
      color: mat-color($accent);
   }

   .signup-button {
      background-color: mat-color($accent);
      color           : white;
   }

   .logo-topline {
      color      : mat-color($accent);
      margin     : 5px;
      padding    : 0;
      text-align : left;
      font-size  : 28px;
      font-weight: bold;
   }

   .userNameSpan {
      font-size: 14px;
      color    : #000;
   }

}