
@import '../../../styles';

div.panel {
   background-color: #b0b3b7;
}

button.signup-button {
   background-color: $color-netsfere-base;
   color: white;
   font-size: 12px;
   font-weight: 500;
}

.signup-title {
   font-size: 24px;
   font-weight: bold;
}

.signup-subtitle {
   font-size: 12px;
}

input {
   font-size: 10px;
}

.glyphicon {
   opacity: .75;
   size: 75%;
}