<section class="outer-container"
         fxLayout="column"
         fxLayoutAlign="start center">

   <mat-card class="my-card"
             fxLayout="column"
             fxLayoutAlign="space-between start">

      <div class="header"
           fxLayout="row"
           fxLayoutAlign="start start"
           fxLayoutGap="20px">

         <div fxFlex="75"
              fxLayout="column"
              fxLayoutAlign="space-between start">
            <div class="callToAction">Verify your phone number to start your
               free trial
            </div>
            <br>
            <div>Your email address <span class="standout-text">
                  {{userAuthInfo.email}}
               </span> has been verified!
            </div>
         </div>
         <mat-icon>phonelink_setup</mat-icon>
      </div>

      <div fxLayout="column"
           fxLayoutAlign="start stretch"
           fxLayoutGap="20px">
         <div class="callToActionStep">Verify Phone Number</div>
         <div>
            Please enter the verification code sent to phone number:
            <span class="standout-text">{{userAuthInfo.callingcode}}
               {{userAuthInfo.phone}} </span>
         </div>

         <form [formGroup]="verifyFormGroup"
               fxLayout="column"
               fxLayoutAlign="space-between start"
               fxLayoutGap="12px"
               (ngSubmit)="verifySubmit()"
               autocomplete="off">
            <!-- these next two input lines are used to fake out Chrome to disable auto complete for the real fields -->
            <input style="display:none;"
                   type="text"
                   name="somefakename" />
            <input style="display:none;"
                   type="password"
                   name="anotherfakename" />
            <section style="width: 100%">
               <mat-form-field style="width: 75%">
                  <mat-label>verification code</mat-label>
                  <input type="text"
                         matInput
                         formControlName="verificationcode"
                         autocomplete="off">
                  <mat-error>Please enter your verification code</mat-error>
               </mat-form-field>
            </section>

            <button type="submit"
                    mat-raised-button
                    color="accent"
                    [disabled]="verifyFormGroup.invalid">VERIFY
            </button>
         </form>

         <br>
         <div fxLayout="column"
              fxLayoutAlign="start start"
              fxLayoutGap="10px">
            <div>Didn't receive the verification SMS?</div>
            <div> <a class="action-links"
                  style="cursor:pointer"
                  (click)="resendEmailSubmit()">Resend Code</a></div>
            <div> <a class="action-links"
                  style="cursor:pointer"
                  (click)="changePhoneNumber()">Change Phone Number</a></div>
         </div>


      </div>
   </mat-card>
</section>