<section class="outer-container"
         fxLayout="row"
         fxLayoutAlign="space-evenly start">
   <div class="left-side">
      <div class="header"
           fxLayout="row"
           fxLayoutAlign="start start"
           fxLayoutGap="20px">
         <div>
            <h1 mat-dialog-title>Verify your phone number to start your
               free trial</h1>
            <h2 mat-dialog-title>
               Please confirm your phone number then press
               SEND CODE
            </h2>
         </div>
      </div>
      <mat-dialog-content [formGroup]="phoneNumFormGroup"
                          autocomplete="off">
         <div fxLayout="row"
              fxLayoutAlign="none center"
              fxLayoutGap="12px">

            <div class="expandable"
                 fxFlex="43">
               <!-- Country -->
               <mat-form-field appearance="{{ formFieldAppearance }}">
                  <input type="text"
                         matInput
                         placeholder="country"
                         [matAutocomplete]="auto"
                         formControlName="country"
                         required
                         autocomplete="fubar">
                  <mat-autocomplete #auto="matAutocomplete">
                     <mat-option *ngFor="let country of ccService.filteredCountries$ | async"
                                 [value]="country.name">
                        {{ country.name }}
                     </mat-option>
                  </mat-autocomplete>
                  <button matSuffix
                          mat-icon-button
                          (click)="clearCountry()">
                     <mat-icon>clear</mat-icon>
                  </button>
               </mat-form-field>
            </div>

            <!-- CallingCode and Number-->
            <div fxFlex="15">
               <mat-form-field appearance="{{ formFieldAppearance }}">
                  <mat-label>cc*</mat-label>
                  <input matInput
                         value=""
                         formControlName="calling_code"
                         readonly>
               </mat-form-field>
            </div>
            <div fxFlex="42">
               <mat-form-field appearance="{{ formFieldAppearance }}">
                  <mat-label>Phone number*</mat-label>
                  <input matInput
                         type="number"
                         placeholder="phone"
                         value=""
                         formControlName="phone"
                         autocomplete="fubar">
               </mat-form-field>
            </div>
         </div>
      </mat-dialog-content>
      <mat-dialog-actions>
         <button mat-raised-button
                 (click)="onSendSMSCode()"
                 color="accent"
                 [disabled]=phoneNumFormGroup.invalid>SEND CODE</button>
      </mat-dialog-actions>

      <div style="margin-top:40px !important"
           *ngIf="emailCodeSent">
         <h2 mat-dialog-title>
            Please enter the activation code that was sent to your phone, then
            press VERIFY CODE.
         </h2>

         <mat-dialog-content [formGroup]="activationCodeFormGroup"
                             autocomplete="off">
            <mat-form-field appearance="{{ formFieldAppearance }}"
                            fxFlex="43">
               <mat-label>activation code</mat-label>
               <input matInput
                      type="text"
                      placeholder="enter activation code"
                      value=""
                      formControlName="activationCode"
                      autocomplete="fubar">
            </mat-form-field>
         </mat-dialog-content>
         <!--  -->
         <mat-dialog-actions>
            <button mat-raised-button
                    (click)="onVerifySMSCode()"
                    color="accent"
                    [disabled]="activationCodeFormGroup.invalid || !emailCodeSent">VERIFY
               CODE</button>
         </mat-dialog-actions>
      </div>
   </div>
   <div class="right-side">
      <mat-icon class="big"
                color="accent">phonelink_setup</mat-icon>
   </div>
</section>