<section class="outer-container"
         fxLayout="column"
         fxLayoutAlign="center center">

   <h1 mat-dialog-title>FORGOT PASSWORD</h1>

   <mat-dialog-content [formGroup]="myForm">

      <section fxLayout="row"
               fxLayoutAlign="center center"
               *ngIf="forgotPasswordFailed">
         <mat-error>Request not accepted. Please ensure your email address is
            correct.
         </mat-error>
      </section>


      <section fxLayout="column"
               fxLayoutAlign="center center">

         <!-- these next two input lines are used to fake out Chrome 
         to disable auto complete for the real fields -->
         <input style="display:none;"
                type="text"
                name="somefakename" />
         <input style="display:none;"
                type="password"
                name="anotherfakename" />

         <!-- email, password -->
         <mat-form-field appearance="legacy">
            <input type="email"
                   matInput
                   placeholder="email"
                   formControlName="email"
                   autocomplete="chromeworkaround">
            <button matSuffix
                    mat-icon-button>
               <mat-icon matSuffix>email</mat-icon>
            </button>
            <!-- <mat-hint>Please enter a valid email</mat-hint> -->
            <mat-error>Invalid/missing email</mat-error>
         </mat-form-field>
      </section>
   </mat-dialog-content>

   <mat-dialog-actions>
      <button mat-raised-button
              (click)="onCancel()"
              color="primary">CANCEL</button>
      <button type="submit"
              mat-raised-button
              (click)="onSubmit()"
              color="accent"
              [disabled]=myForm.invalid>SUBMIT</button>
   </mat-dialog-actions>
</section>