<mat-card class="login-form auth-forms">

   <mat-card-header fxLayout="row"
                    fxLayoutAlign="center">
      <mat-card-title>
         <span>
            FORGOT PASSWORD
         </span>
      </mat-card-title>
   </mat-card-header>

   <mat-card-content>
      <form fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutGap="12px"
            [formGroup]="myFormControl"
            (ngSubmit)="onSubmit()">

         <mat-form-field>
            <input type="email"
                   matInput
                   placeholder="email"
                   formControlName="email">
            <button matSuffix
                    mat-icon-button>
               <mat-icon matSuffix>email</mat-icon>
            </button>
            <!-- <mat-hint>Please enter a valid email</mat-hint> -->
            <mat-error>Invalid/missing email</mat-error>
         </mat-form-field>


         <button type="submit"
                 mat-raised-button
                 color="accent"
                 [disabled]="myFormControl.invalid">SUBMIT
         </button>

      </form>
   </mat-card-content>

   <mat-card-footer>
      <div fxLayout="row"
           fxLayoutAlign="center center"
           fxLayoutGap="12px">
         <section fxFlex="50%"
                  fxFlexAlign="center">
            <a routerLink="/signup">SIGN UP</a>
         </section>
         <section fxFlex="50%"
                  fxFlexAlign="center">
            <a routerLink="/login">LOG IN</a>
         </section>
      </div>
   </mat-card-footer>
</mat-card>