<!--The content below is only a placeholder and can be replaced.-->
<!-- <div fxLayout="row"
     fxLayoutGap="10px">
   <app-navbar fxFlex="15%"
               fxFlexAlign="center"></app-navbar>
   <div fxFlex="85%"
        fxLayout="column"
        fxLayoutAlign="center center">
      <router-outlet></router-outlet>
   </div>
</div> -->

<mat-sidenav-container class="nav-container">

   <mat-sidenav #sidenav
                role="navigation"
                [mode]="mode.value">

      <app-sidenav></app-sidenav>
   </mat-sidenav>

   <mat-sidenav-content>
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <main>
         <router-outlet></router-outlet>
      </main>
   </mat-sidenav-content>
</mat-sidenav-container>