<mat-sidenav-container class="sidenav-container">
   <mat-sidenav #drawer
                *ngIf="(authService.userSessInfo$ | async)?.account_state === UserAccountStates.loggedIn"
                class="sidenav"
                fixedInViewport="true"
                [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                [mode]="(isHandset$ | async) ? 'over' : 'side'"
                [opened]="!(isHandset$ | async)">
      <app-sidebar></app-sidebar>
   </mat-sidenav>
   <mat-sidenav-content>
      <app-topnav (toggleSideBar)="toggleDrawer(drawer)"> </app-topnav>
      <router-outlet></router-outlet>
   </mat-sidenav-content>
</mat-sidenav-container>