@import '~@angular/material/theming';
@import 'styles/themes';

$theme  : $material_theme;
$primary: map-get($theme, primary);
$accent : map-get($theme, accent);

body {
   height     : 100%;
   margin     : 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* width */
// *::-webkit-scrollbar {
//    width: 10px;
// }

/* Track */
// *::-webkit-scrollbar-track {
//    box-shadow      : inset 0 0 5px mat-color($default_primary);
//    border-radius   : 10px;
//    background-color: mat-color($default_primary, lighter);
// }

/* Handle */
// *::-webkit-scrollbar-thumb {
//    background   : mat-color($default_primary);
//    box-shadow   : inset 0 0 5px mat-color($default_primary, darker);
//    border-radius: 10px;
// }

/* Handle on hover */
// *::-webkit-scrollbar-thumb:hover {
//    background: mat-color($default_primary, darker);
// }

// .auth-forms {
//    max-width       : 350px;
//    border          : 1px solid gray;
//    margin          : auto;
//    padding         : 12px;
//    background-color: white;
// }

// .auth-forms {

//    margin: 50px auto;

//    [mat-raised-button] {
//       background-color: $netsfere_red !important;
//       color           : white !important;
//    }

//    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
//       background-color: $netsfere_red !important;
//    }

//    [mat-raised-button][disabled] {
//       opacity: 0.5;
//    }

//    [mat-raised-button][disabled="false"] {}

//    mat-card {
//       padding: 20px;
//    }

//    mat-form-field {
//       width: 300px;
//    }

//    mat-card-title span {
//       font-size: 18px;
//       margin   : auto;
//    }

//    mat-card-footer {
//       font-size: 12px;
//    }

//    mat-card-footer {
//       font-size: 12px;

//       margin    : 20px 12px 10px 12px;
//       text-align: center;
//    }

//    button {
//       width: 33%;
//    }

//    .terms-conditions-note {
//       font-size : 10px;
//       font-style: italc;
//    }
// }