/* You can add global styles to this file, and also import other style files */

//@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';
@import 'styles/themes';

// Global Colors
$white              : #ffffff;
$black              : #000000;
$offwhite           : #f6f7f9;
$bright_silver      : #f3f6fe;
$netsfere_red       : #de4858;
$gunmetal_gray      : #2d2d2d;
$dark_neutral_gray  : #373737;
$charcoal_gray      : #272727;
$black_chrome       : #222222;
$light_neutral_gray : #b2b2b2;
$silver             : #d3d6de;
$cool_gray          : #515769;
$medium_neutral_gray: #656565;


body {
   height     : 100%;
   margin     : 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* width */
*::-webkit-scrollbar {
   width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
   box-shadow      : inset 0 0 5px mat-color($default_primary);
   border-radius   : 10px;
   background-color: mat-color($default_primary, lighter);
}

/* Handle */
*::-webkit-scrollbar-thumb {
   background   : mat-color($default_primary);
   box-shadow   : inset 0 0 5px mat-color($default_primary, darker);
   border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
   background: mat-color($default_primary, darker);
}

.auth-forms {
   max-width       : 350px;
   border          : 1px solid gray;
   margin          : auto;
   padding         : 12px;
   background-color: white;
}

.auth-forms {

   margin: 50px auto;

   [mat-raised-button] {
      background-color: $netsfere_red !important;
      color           : white !important;
   }

   .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background-color: $netsfere_red !important;
   }

   [mat-raised-button][disabled] {
      opacity: 0.5;
   }

   [mat-raised-button][disabled="false"] {}

   mat-card {
      padding: 20px;
   }

   mat-form-field {
      width: 300px;
   }

   mat-card-title span {
      font-size: 18px;
      margin   : auto;
   }

   mat-card-footer {
      font-size: 12px;
   }

   mat-card-footer {
      font-size: 12px;

      margin    : 20px 12px 10px 12px;
      text-align: center;
   }

   button {
      width: 33%;
   }

   .terms-conditions-note {
      font-size : 10px;
      font-style: italc;
   }
}