<!-- <div [ngSwitch]="(authService.userSessInfo$ | async)?.account_state"> -->
<div *ngIf="authService.userSessInfo$ | async; let userSessInfo; else loading ">

   <mat-toolbar *ngIf="userSessInfo.account_state == UserAccountStates.loggedOut"
                class="mat-toolbar"
                fxLayout="row"
                fxLayoutAlign="space-evenly center">
      <div fxFlex="25">
         <app-logo></app-logo>
      </div>

      <div fxFlex="50"
           fxHide.lt-md>
         <ul fxLayout="row"
             fxLayoutAlign="center center">
            <li fxFlexAlign="center"
                *ngFor="let link of topNavLoggedOut">
               <a mat-button
                  [attr.href]="link.href ? link.href : null"
                  [matMenuTriggerFor]="linkMenu">{{ link.title | uppercase }}
                  <mat-icon *ngIf="link.subLinks">arrow_drop_down</mat-icon>
               </a>
               <mat-menu #linkMenu>
                  <ng-container *ngFor="let subLink of link.subLinks">
                     <mat-divider *ngIf="subLink.separator; else navLink">
                     </mat-divider>
                     <ng-template #navLink>
                        <a mat-menu-item
                           [attr.href]="subLink.href ? subLink.href : null">
                           {{subLink.title}}
                        </a>
                     </ng-template>
                  </ng-container>
               </mat-menu>
            </li>
         </ul>
      </div>

      <div fxFlex="25">
         <ul fxLayout="row"
             fxLayoutAlign="center center">
            <li class="login-link">
               <a mat-button
                  href="javascript: void(0)">
                  <span (click)="doLogin()">LOGIN</span>
               </a>
            </li>
            <li class="
                     signup-link"
                fxLayout="row"
                fxLayoutAlign="center center">
               <button mat-raised-button
                       class="signup-button"
                       (click)="doSignup()">TRY IT NOW
               </button>
            </li>
         </ul>
      </div>
   </mat-toolbar>

   <!--    <mat-toolbar *ngSwitchCase="UserAccountStates.emailConfirmPending"
                class="mat-toolbar"
                fxLayout="row"
                fxLayoutAlign="space-between stretch">
   </mat-toolbar> -->

   <mat-toolbar *ngIf="userSessInfo.account_state == UserAccountStates.loggedIn"
                class="mat-toolbar"
                fxLayout="row"
                fxLayoutAlign="space-between stretch">

      <!-- this div is left justified -->
      <div fxLayout="row"
           fxLayoutAlign="space-between center">

         <button type="button"
                 aria-label="Toggle sidenav"
                 mat-icon-button
                 (click)="toggleSidebarCollapse()">
            <mat-icon aria-label="Side Nav Toggle ICON">menu</mat-icon>
         </button>

         <div fxFlex="none">
            <app-logo></app-logo>
         </div>
      </div>

      <!-- this div is right justified in outer container -->
      <!-- the contents of this div are -->
      <div fxLayout="row"
           fxLayoutAlign="space-around center"
           fxLayOutGap="20px">

         <button mat-button
                 [matMenuTriggerFor]="profile_dropdown">
            <span>{{ userSessInfo.firstname | uppercase }}
               {{ userSessInfo.lastname | uppercase }}
            </span>
            <mat-icon>keyboard_arrow_down</mat-icon>
         </button>

         <mat-menu #profile_dropdown>
            <button mat-menu-item>
               <mat-icon color="accent"
                         class="material-icons">
                  settings
               </mat-icon>
               <span class="dropdown_text">Settings</span>
            </button>
            <button mat-menu-item
                    (click)="authService.logout()">
               <mat-icon color="accent"
                         class="material-icons">
                  exit_to_app
               </mat-icon>
               <span class="dropdown_text">Log Out</span>
            </button>
         </mat-menu>

         <button mat-icon-button
                 matBadge="1"
                 matBadgeColor="accent"
                 matBadgeSize="small"
                 [matBadgeHidden]="false"
                 [matMenuTriggerFor]="notifMenu"
                 id="notifButton">
            <img src="assets/icons/notification_header_icon.png" />
            <mat-menu #notifMenu="matMenu">
               <!--      <button mat-menu-item
                       *ngFor="let n of notifications">
                  <span>{{n.title}}: </span>{{n.message}}
               </button> -->
            </mat-menu>
         </button>
      </div>
   </mat-toolbar>
   <ng-template #loading>Waiting for user info...</ng-template>
</div>