<section class="outer-container"
         fxLayout="column"
         fxLayoutAlign="space-evenly center">

   <h1 mat-dialog-title>Sign Up for Free</h1>
   <h2 mat-dialog-title>Get an API key and send SMS for free! No credit card
      required.</h2>

   <mat-dialog-content [formGroup]="myFormGroup">

      <!-- these next two input lines are used to fake out 
         Chrome to disable auto complete for the real fields -->
      <input style="display:none;"
             type="text"
             name="somefakename" />
      <input style="display:none;"
             type="password"
             name="anotherfakename" />

      <section fxLayout="row"
               fxLayoutAlign="space-between center"
               fxLayoutGap="12px">

         <mat-form-field appearance="{{ formFieldAppearance }}"
                         fxFlex="50">
            <mat-label>First name*</mat-label>
            <input type="text"
                   matInput
                   placeholder="first name"
                   formControlName="firstname"
                   autocomplete="fubar">
            <mat-error>Error in first name (6 to 30 characters)
            </mat-error>
         </mat-form-field>

         <mat-form-field appearance="{{ formFieldAppearance }}"
                         fxFlex="50">
            <mat-label>Last name*</mat-label>
            <input type="text"
                   matInput
                   placeholder="last name"
                   formControlName="lastname"
                   autocomplete="fubar">
            <mat-error>Error in last name (6 to 30 characters)</mat-error>
         </mat-form-field>
      </section>

      <section fxLayout="row"
               fxLayoutAlign="space-between center"
               fxLayoutGap="12px">
         <mat-form-field appearance="{{ formFieldAppearance }}"
                         style="width:100%">
            <mat-label>Email*</mat-label>
            <input type="email"
                   matInput
                   placeholder="email"
                   formControlName="email"
                   autocomplete="fubar">
            <mat-error>Invalid/missing email</mat-error>
         </mat-form-field>
      </section>

      <section fxLayout="row"
               fxLayoutAlign="space-between center"
               fxLayoutGap="12px">
         <mat-form-field appearance="{{ formFieldAppearance }}"
                         fxFlex="50">
            <mat-label>Password*</mat-label>
            <input type="
                                        {{ passwordFieldType }}"
                   matInput
                   placeholder="password"
                   formControlName="password"
                   autocomplete="fubar">
            <button type="button"
                    matSuffix
                    mat-icon-button
                    (click)="togglePasswordVisibility()">
               <mat-icon>{{ passwordFieldIcon }}</mat-icon>
            </button>
            <mat-error>Invalid/missing password!</mat-error>
         </mat-form-field>

         <mat-form-field appearance="{{ formFieldAppearance }}"
                         fxFlex="50">
            <mat-label>Password (confirmed)*</mat-label>
            <input type="{{ password2FieldType }}"
                   matInput
                   placeholder="password (confirmed)"
                   formControlName="password2"
                   autocomplete="fubar">
            <button type="button"
                    matSuffix
                    mat-icon-button
                    (click)="togglePassword2Visibility()">
               <mat-icon>{{ passwordFieldIcon }}</mat-icon>
            </button>

            <mat-error>Invalid/missing password!</mat-error>
         </mat-form-field>
      </section>

      <div fxLayout="row"
           fxLayoutAlign="none center"
           fxLayoutGap="12px">

         <div class="expandable"
              fxFlex="43">
            <mat-form-field appearance="{{ formFieldAppearance }}">
               <input type="text"
                      matInput
                      placeholder="country"
                      [matAutocomplete]="auto"
                      formControlName="country"
                      required
                      autocomplete="fubar">
               <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let country of filteredCountries | async"
                              [value]="country.country">
                     {{ country.country }}
                  </mat-option>
               </mat-autocomplete>

            </mat-form-field>
         </div>

         <mat-form-field fxFlex="15"
                         appearance="{{ formFieldAppearance }}">
            <mat-label>cc*</mat-label>
            <input matInput
                   value=""
                   formControlName="calling_code"
                   autocomplete="fubar">
         </mat-form-field>
         <mat-form-field fxFlex="42"
                         appearance="{{ formFieldAppearance }}">
            <mat-label>Phone number*</mat-label>
            <input matInput
                   placeholder="phone"
                   value=""
                   formControlName="phone"
                   autocomplete="fubar">
         </mat-form-field>
      </div>

      <mat-form-field appearance="{{ formFieldAppearance }}">
         <mat-label>Company (optional)</mat-label>
         <input type="text"
                matInput
                placeholder="company"
                formControlName="company"
                autocomplete="fubar">
      </mat-form-field>

      <!-- formControlName="recaptcha" -->
      <section style="max-width:100%"
               fxLayout="column"
               fxLayoutAlign="center center"
               fxLayoutGap="20px">
         <re-captcha class="g-recaptcha"
                     required
                     (resolve)="resolve($event)"
                     siteKey="6Lds-mcUAAAAAAoOoz1jA7XNm88G-dMs60Ub7OZe">
         </re-captcha>
      </section>
   </mat-dialog-content>
   <mat-dialog-actions>
      <button mat-raised-button
              (click)="onCancel()"
              color="primary">CANCEL</button>
      <button type="submit"
              mat-raised-button
              (click)="onSubmit()"
              color="accent"
              [disabled]=myFormGroup.invalid>SIGNUP</button>
   </mat-dialog-actions>
   <br>
   <p>BY CLICKING THIS BUTTON YOU AGREE TO OUR
      <a href="#">TERMS AND CONDITIONS </a></p>

</section>