/* all styles moves to styles.scss */
// @import "src/styles.scss";
@import "src/styles/themes";

// Theming variables
$theme     : $dark_theme;
$primary   : map-get($theme, primary);
$accent    : map-get($theme, accent);
$background: map-get($theme, background);
$foreground: map-get($theme, foreground);

.outer-container {
   width: 600px;
}

h1[mat-dialog-title] {
   font-weight: bold;
   font-size  : 24px;
}

h2[mat-dialog-title] {
   font-weight: bold;
   font-size  : 18px;
}

mat-dialog-content {
   width   : 90%;
   overflow: hidden;
}

mat-form-field {
   width   : 100%;
   overflow: hidden;
}



mat-card {
   width: 750px;
}

.mat-card-title {
   font-weight: bold;
   font-size  : 24px;
}

mat-card-subtitle {
   font-weight: bold;
}


mat-card-content {
   width: 75%;
}

// TODO -- need a lighter shade of netsfere red when the button is disabled. 
button[mat-raised-button][disabled] {
   background-color: mat_color($accent, 300);
   color           : white;
}

input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 500px white inset;
}

textarea,
input,
*:focus {
   outline: none !important;
}