
mat-form-field {
  width: 300px;
}

mat-card-title span {
   font-size: 18px;
   margin: auto;
}

mat-card-footer {
   font-size: 12px;
}

mat-checkbox {
   font-size: 12px;
}

li {
   display: inline;
   list-style: none;
}

