<section class="outer-container"
         fxLayout="row"
         fxLayoutAlign="space-evenly start">
   <div class="left-side">
      <div class="header"
           fxLayout="row"
           fxLayoutAlign="start start"
           fxLayoutGap="20px">
         <div>
            <h1 mat-dialog-title>Verify your email to start your free trial</h1>
            <!--  <h2 mat-dialog-title>Verify Email</h2> -->
         </div>
      </div>

      <mat-dialog-content [formGroup]="myFormGroup"
                          autocomplete="off">
         <div>
            We sent an email to:
            <span style="text-decoration: underline">
               {{userAuthInfo.email != '' ? userAuthInfo.email : "Error!"}}
            </span>
         </div>
         <div style="margin: 12px 0;">
            To continue, please click on the activation link in the email, <br>
            or enter the activation code from the email below:
         </div>
         <mat-form-field>
            <mat-label>activation code</mat-label>
            <input type="text"
                   matInput
                   formControlName="activationcode"
                   autocomplete="fubar">
            <mat-error>Please enter your activation code</mat-error>
         </mat-form-field>
      </mat-dialog-content>
      <mat-dialog-actions fxLayout="column"
                          fxLayoutAlign="start start">
         <button type="submit"
                 mat-raised-button
                 (click)="onVerifySubmit()"
                 color="accent"
                 [disabled]=myFormGroup.invalid>VERIFY
         </button>
         <div style="margin-top: 1em;">
            <p>Didn't receive the activation email?</p>
            <a class="resend-email-tag"
               (click)="onResendEmailSubmit()">Resend Email</a>
         </div>
      </mat-dialog-actions>
   </div>
   <div class="right-side">
      <mat-icon color="accent">mail_outline</mat-icon>
   </div>

</section>